# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [178]:
#!pip install -U scipy

In [179]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [180]:
data = pd.read_csv("../data/Salaries.csv")

/var/folders/f5/ydbwqx010035kx3jpxc3gbfc0000gn/T/ipykernel_22848/2717426345.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../data/Salaries.csv")

Examine the `salaries` dataset using the `head` function below.

In [181]:
# Your code here:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [182]:
# Your code here:
data.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [183]:
# Your code here

In [184]:
data.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [185]:
# Your code here

In [186]:
data = data.drop(columns='Notes')

In [187]:
data.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [188]:
# Your code here

In [189]:
data['Status'].value_counts()

FT    22334
PT    15785
Name: Status, dtype: int64

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [190]:
data = data[data['Status'].isna()==False]

In [191]:
data.isnull().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [192]:
# Your code here

In [193]:
data.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Agency               object
Status               object
dtype: object

In [194]:
# Your code here

In [195]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Do any type conversions and reset the index.

In [196]:
# Basepay - float
# Overtime pay - float
# Other pay - float
# Benefits - float
data['BasePay']= pd.to_numeric(data['BasePay'])
data['OvertimePay']= pd.to_numeric(data['OvertimePay'])
data['OtherPay']= pd.to_numeric(data['OtherPay'])
data['Benefits']= pd.to_numeric(data['Benefits'])

In [197]:
data = data.reset_index(drop=True)
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

In [198]:
data.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Agency               object
Status               object
dtype: object

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [199]:
totalpaybenefits= data['BasePay']+ data['OvertimePay'] + data['OtherPay']+ data['Benefits']
totalpaybenefits

0        510732.68
1        479652.21
2        436224.36
3        418019.22
4        417435.10
           ...
38114         0.00
38115         0.00
38116         0.00
38117         0.00
38118      -618.13
Length: 38119, dtype: float64

In [200]:
data['TotalPayBenefits'] == totalpaybenefits

0         True
1        False
2         True
3        False
4         True
         ...
38114     True
38115     True
38116     True
38117     True
38118     True
Length: 38119, dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [201]:
((data['TotalPayBenefits'] == totalpaybenefits).value_counts() / len(data))*100

True     73.708649
False    26.291351
dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [202]:
data.groupby(['JobTitle']).agg({'EmployeeName':'count'})

                                EmployeeName
JobTitle
ACPO,JuvP, Juv Prob (SFERS)                1
ASR Senior Office Specialist              22
ASR-Office Assistant                      15
Account Clerk                             93
Accountant I                               2
...                                      ...
Wire Rope Cable Maint Sprv                 1
Worker's Comp Supervisor 1                 6
Worker's Compensation Adjuster            26
X-Ray Laboratory Aide                     35
Youth Comm Advisor                         1

[996 rows x 1 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [203]:
data['Hourly_Wage'] = (data['TotalPayBenefits'])*(1/50)*(1/40)
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550

In [204]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)
ft_hr_wage=data[data['Status'].isin(['FT'])]
ft_mean = ft_hr_wage['Hourly_Wage'].mean()
ft_mean

69.264206407271

In [205]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees
import scipy.stats

In [206]:
len(ft_hr_wage)

22334

In [207]:
#mean
ft_mean
#std_error
std_error= np.std(ft_hr_wage['Hourly_Wage'], ddof=1)/np.sqrt(22334)

In [208]:
t = (ft_mean -75)/std_error

In [209]:
t

-35.80631941460788

In [210]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here: 
from scipy.stats import t

In [211]:
df = len(ft_hr_wage)-1
df

22333

In [212]:
tc = scipy.stats.t.ppf(0.975,df = 22333)
tc
# +- 1.9600702128845593

1.9600702128845593

In [213]:
# Method 2: Use the p-value method.
# Your code here:

In [214]:
scipy.stats.t.cdf(-35.80631941460521, df=22333)*2

4.5178312338456165e-273

In [215]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [216]:
from scipy.stats import ttest_1samp
ttest_1samp(ft_hr_wage['Hourly_Wage'], popmean = 75, alternative = "two-sided")

TtestResult(statistic=-35.806319414605255, pvalue=4.517831233840475e-273, df=22333)

Are all the methods in agreement?

In [217]:
#All methods are roughly in agreement.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [218]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [219]:
police = data[data['JobTitle'].apply(lambda x: True if 'Police' in x else False)]
police

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
86,110618,Jay K Dowke,Police Officer 3,100148.75,15716.42,152037.57,33847.07,267902.74,301749.81,2014,San Francisco,PT,150.874905
143,110675,Sam W Yuen,Police Officer 2,116584.02,115346.62,18834.23,38350.08,250764.87,289114.95,2014,San Francisco,FT,144.557475
181,110713,Malcolm S Fong,Police Officer 3,118898.14,109310.13,12557.94,39456.55,240766.21,280222.76,2014,San Francisco,FT,140.111380
300,110832,Murray P Daggs,Police Officer 3,118898.13,98583.98,10919.81,38833.08,228401.92,267235.00,2014,San Francisco,FT,133.617500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37781,148313,Jerome J Alamil,Police Officer,309.90,0.00,0.00,64.52,309.90,374.42,2014,San Francisco,PT,0.187210
37878,148410,Dennis V Cravalho,Police Officer,0.00,0.00,242.66,0.00,242.66,242.66,2014,San Francisco,PT,0.121330
37906,148438,Elizabeth A Maron,Police Officer 3,0.00,0.00,212.39,0.00,212.39,212.39,2014,San Francisco,PT,0.106195
37975,148507,Patricia O Williams,Community Police Services Aide,0.00,0.00,134.78,0.00,134.78,134.78,2014,San Francisco,PT,0.067390
38030,148562,Marshall Robles,Community Police Services Aide,0.00,0.00,59.59,10.78,59.59,70.37,2014,San Francisco,PT,0.035185

In [220]:
# One-sided test:
# Null hypothesis or H0: salary >= 86,000
# Alternative hyp or H1: salary < 86,000

In [221]:
police_mean = police['TotalPayBenefits'].mean()
police_mean

148349.04212519721

In [222]:
std_error = std_error= np.std(police['TotalPayBenefits'], ddof=1)/np.sqrt(len(police))

In [223]:
t = (police_mean - 86000)/std_error
t

50.252984742109916

In [224]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [225]:
df = len(police)-1
df

1900

In [226]:
tc = scipy.stats.t.ppf(0.95,df = 1900)
tc

1.6456560042647304

In [227]:
# Method 2: Use the p-value method.
# Your code here:

In [228]:
scipy.stats.t.cdf(50.252984742109916, df=1900)

1.0

In [229]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [230]:
ttest_1samp(police['TotalPayBenefits'], popmean = 86000 , alternative = "less")

TtestResult(statistic=50.252984742109945, pvalue=1.0, df=1900)

In [231]:
#Again all methods are roughly the same.

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [232]:
# Your code here: (Get the department which has most employees)

In [233]:
jobtitle_count = data.groupby(['JobTitle']).agg({'EmployeeName':'count'})
jobtitle_count.idxmax()

EmployeeName    Transit Operator
dtype: object

In [234]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

In [235]:
transit_op=data[data['JobTitle'].isin(['Transit Operator'])]
transit_op_mean = transit_op['Hourly_Wage'].mean()
transit_op_mean

43.35949773900775

In [236]:
std_error = np.std(transit_op['Hourly_Wage'],ddof=1)/np.sqrt(len(transit_op))

In [237]:
t = (transit_op_mean - 35)/std_error
t

19.06499032490655

In [238]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [239]:
df = len(transit_op)-1
df

2478

In [240]:
tc = scipy.stats.t.ppf(0.95,df = 2478)
tc

1.645468777247024

In [241]:
# Method 2: Use the p-value method.
# Your code here:
scipy.stats.t.cdf(19.06499032490655, df=2478)

1.0

In [242]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [243]:
ttest_1samp(transit_op['Hourly_Wage'], popmean = 35, alternative = "greater")

TtestResult(statistic=19.0649903249064, pvalue=5.0127716942024924e-76, df=2478)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [244]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

In [245]:
confidence_level = 0.95
degrees_freedom = len(data['Hourly_Wage']) - 1  
sample_mean = np.mean(data['Hourly_Wage'])
sample_standard_error = scipy.stats.sem(data['Hourly_Wage']) 
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [246]:
print("Sample mean: ", sample_mean)
print("Confidence interval: ", confidence_interval)

Sample mean:  50.130719334189436
Confidence interval:  (49.798255413084014, 50.46318325529486)

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [247]:
confidence_level = 0.95
degrees_freedom = len(police['Hourly_Wage']) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(police['Hourly_Wage'])
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(police['Hourly_Wage']) # sem = standard error of the mean = std(mean)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [248]:
print("Sample mean: ", sample_mean)
print("Confidence interval: ", confidence_interval)

Sample mean:  74.1745210625985
Confidence interval:  (72.9578791736444, 75.3911629515526)

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [249]:
# Your code here: (Create the function)
def employee(x):
    if "Police" in x:
        return "Policemen"
    elif "Fire" in x:
        return "Firemen"
    elif "Med" in x:
        return "Medical"
    elif "Nurse" in x:
        return "Medical"
    elif "Attorney" in x:
        return "Lawyer"
    else:
        return "Other"

In [250]:
data['Employee_group']= data['JobTitle'].apply(employee)
#data = data.drop(columns='Employee_group')
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage,Employee_group
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340,Other
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105,Medical
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180,Other
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610,Policemen
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550,Firemen

Determine how many "PT" and "FT" employess have all the employees groups.

In [251]:
# Your code here: (Store the output dataframe into a new variable)

In [252]:
employee_groups = pd.crosstab(data['Employee_group'],data['Status'])
employee_groups

Status             FT     PT
Employee_group
Firemen          1333    178
Lawyer            317    102
Medical          1028   2889
Other           18126  12245
Policemen        1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [253]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

In [254]:
frequencies= []
employee_groups.iloc[0,1]

178

In [255]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [256]:
firemen_ft = ((employee_groups.iloc[0,0]+employee_groups.iloc[0,1])*sum(employee_groups['FT']))/len(data)
firemen_ft

885.2979878800598

In [257]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [258]:
firemen_pt = ((employee_groups.iloc[0,0]+employee_groups.iloc[0,1])*sum(employee_groups['PT']))/len(data)
firemen_pt

625.7020121199402

In [259]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [260]:
lawyers_ft = ((employee_groups.iloc[1,0]+employee_groups.iloc[1,1])*sum(employee_groups['FT']))/len(data)
lawyers_ft

245.4929562685275

In [261]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [262]:
lawyers_pt = ((employee_groups.iloc[1,0]+employee_groups.iloc[1,1])*sum(employee_groups['PT']))/len(data)
lawyers_pt

173.5070437314725

In [263]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [264]:
medical_ft = ((employee_groups.iloc[2,0]+employee_groups.iloc[2,1])*sum(employee_groups['FT']))/len(data)
medical_ft

2294.978304782392

In [265]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [266]:
medical_pt = ((employee_groups.iloc[2,0]+employee_groups.iloc[2,1])*sum(employee_groups['PT']))/len(data)
medical_pt

1622.021695217608

In [267]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [268]:
other_ft = ((employee_groups.iloc[3,0]+employee_groups.iloc[3,1])*sum(employee_groups['FT']))/len(data)
other_ft

17794.430966184842

In [269]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [270]:
other_pt = ((employee_groups.iloc[3,0]+employee_groups.iloc[3,1])*sum(employee_groups['PT']))/len(data)
other_pt

12576.569033815158

In [271]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

In [272]:
police_ft = ((employee_groups.iloc[4,0]+employee_groups.iloc[4,1])*sum(employee_groups['FT']))/len(data)
police_ft

1113.7997848841785

In [273]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

In [274]:
police_pt = ((employee_groups.iloc[4,0]+employee_groups.iloc[4,1])*sum(employee_groups['PT']))/len(data)
police_pt

787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [275]:
# Your code here:
ft_list = [firemen_ft, lawyers_ft, medical_ft, other_ft, police_ft]
pt_list = [firemen_pt, lawyers_pt, medical_pt, other_pt, police_pt]
employee_dictionary = {'FT' : ft_list,'PT': pt_list}

In [276]:
frequencies = pd.DataFrame(employee_dictionary)
frequencies

             FT            PT
0    885.297988    625.702012
1    245.492956    173.507044
2   2294.978305   1622.021695
3  17794.430966  12576.569034
4   1113.799785    787.200215

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [277]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [278]:
import scipy.stats as st

In [279]:
#Get degrees of freedom
(employee_groups.shape[0]-1)*(employee_groups.shape[1]-1)

4

In [280]:
#Get critical value
st.chi2.ppf(0.95, df=4)

9.487729036781154

In [281]:
st.chi2_contingency(employee_groups)

Chi2ContingencyResult(statistic=2676.642333711905, pvalue=0.0, dof=4, expected_freq=array([[  885.29798788,   625.70201212],
       [  245.49295627,   173.50704373],
       [ 2294.97830478,  1622.02169522],
       [17794.43096618, 12576.56903382],
       [ 1113.79978488,   787.20021512]]))

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function

In [282]:
#Expected frequencies do match

In [283]:
#pval < 0.05
#chi2>9.48
#Reject null hypothessis